<% content_for :head do %>
<script>
/* Set how long (in milliseconds) to display each content page */
var CONTENTINTERVAL = 5 * 1000;
var BLOCK_ID_REFRESH_INTERVAL = 5 * 60 * 1000;

var gametypes = [<% @games.each do |game| %>"<%= game.id %>",<% end %>];
var blocks = [];
var contents = [];
var contentindex = 0;

var temp;

function setContents() {
	contents = [];
	for (i in gametypes) {
		var content = new Object();
		content.type = "game";
		content.name = gametypes[i];
		contents.push(content);
	}
	
	for (i in blocks) {
		var content = new Object();
		content.type = "block";
		content.name = blocks[i];
		contents.push(content);
	}
}

function loadBlockIDs() {
	$.get('/content_blocks.json', null, loadedBlockIDs, "json");
}

function loadedBlockIDs(data, textStatus, XMLHttpRequest) {
	if (textStatus == "success") {
		blocks = [];
		for (index in data.ids) 
			blocks.push(data.ids[index]);
		setContents();
	}
}

function rotateContent() {
	if (contentindex > (contents.length - 1)) 
		contentindex = 0;
	var content = contents[contentindex];
	if (content.type == "block") {
		$.get('/content_blocks/' + content.name + '.json', null, loadedBlock, "json");
	} else if (content.type == "game") {
		var data = new Object();
		$.get('/games/' + content.name + '.json', null, gamedataLoaded, "json");
	}
	contentindex++;
}

function gamedataLoaded(data, textStatus, XMLHttpRequest) {
	var html = $("#game-template").clone();
	var rank = 0;
	html.find("#game-name").replaceWith(data.game.name);
	temp = html;
	
	for (i in data.scores) {
		rank++;
		var score = data.scores[i];
		var scoreline = $("#game-scoreline").clone();
		scoreline.find("#rank").html(rank);
		scoreline.find("#name").html(score.name);
		scoreline.find("#score").html(score.score);
		html.find("#game-scoretable").find("tbody").append(scoreline.find("tbody").html());
	}
	
	$("#content").html(html.html());
}

function loadedBlock(data, textStatus, XMLhttpRequest) {
	if (textStatus == "success") {
		$("#content").html(data.block.html);
	}	
}

$(document).ready(function() {
	loadBlockIDs();
	setInterval("loadBlockIDs()", BLOCK_ID_REFRESH_INTERVAL);
	setContents();
	rotateContent();
	setInterval("rotateContent()", CONTENTINTERVAL);
});
</script>
<% end %>

Welcome to wai-con blah blah :) <br/>
<div id="content">
</div>

<!-- Templates are below! -->

<div id="game-template" class="hidden">
<h1><span id="game-name"></span></h1>
<table width="100%" border="1" id="game-scoretable">
<tr><th>Rank</th><th>Name</th><th>Score</th></tr>
</table>
</div>
<table id="game-scoreline" class="hidden">
<tr><td id="rank"></td><td id="name"></td><td id="score"></td></tr>
</table>
